Repository XBankGCPOrg/gcp-lz-products, changes with the labels that .github/labeler.yml gives for each.
All labels: gcp-lz-devops, gcp-lz-management, gcp-lz-github-workflow

Updated code for products
  shared-vpc/main.tf
  shared-vpc/variables.tf
Labels: none

Updated variables for shared vpc
  shared-vpc/variables.tf
Labels: none

v2
  shared-vpc/variables.tf
Labels: none

v2 - changed from main to v2 branch for pipeline
  .github/workflows/common_precheck.yaml
Labels: gcp-lz-github-workflow

v2
  cloud-dns/private/docs/terraform-module.md
  devops/docs/terraform-module.md
  gke/autopilot/docs/terraform-module.md
  gke/gke-autopilot/docs/terraform-module.md
  gke/gke-standard/docs/terraform-module.md
  gke/gke-vm/docs/terraform-module.md
  management/docs/terraform-module.md
  network/docs/terraform-module.md
  platform-tools/docs/terraform-module.md
  repo-creation/docs/terraform-module.md
  shared-vpc/docs/terraform-module.md
  vm-windows/docs/terraform-module.md
Labels: gcp-lz-devops, gcp-lz-management

.github/labeler.yml:

gcp-lz-devops:
  - devops/**

gcp-lz-management:
  - management/**

gcp-lz-github-workflow:
  - .github/workflows/**
